<script type="text/javascript">
	$(document).ready(function()
	{
		<%
			quill_body = @post.quill_body.html_safe
			if quill_body.empty?
				quill_body = '{}'
			end
		%>
		<% if @post.new_record? %>
			new Editor($(document).find("form.new_post"),
		              $(document).find("input#post_title"),
					  $(document).find("form.new_post h1.editable"),
					  '<%= @post.title.html_safe.strip %>',
		              $(document).find("input#post_body"),
		              $(document).find("input#post_quill_body"),
					  $(document).find("form.new_post div.editable"),
					  $(document).find("div#scrolling-container"),
					  <%= quill_body %>,
		              <%= Proclaim.editor_toolbar.to_json.html_safe %>);
		<% else %>
			new Editor($(document).find("form.edit_post"),
		              $(document).find("input#post_title"),
					  $(document).find("form.edit_post h1.editable"),
					  '<%= @post.title.html_safe.strip %>',
		              $(document).find("input#post_body"),
					  $(document).find("input#post_quill_body"),
					  $(document).find("form.edit_post div.editable"),
					  $(document).find("div#scrolling-container"),
					  <%= quill_body %>,
		              <%= Proclaim.editor_toolbar.to_json.html_safe %>);
		<% end %>
	});
</script>

<%= form_for(@post) do |f| %>
	<% if @post.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

			<ul>
				<% @post.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class = "post">
		<%=
			fake_form_field @post, :title do
				content_tag :h1, @post.title, class: "post_title editable",
				            contenteditable: true, placeholder: "Post Title"
			end
		%>

		<div id="scrolling-container">
			<%=
				fake_form_field @post, :body do
					content_tag :div, '', class: "post_body editable",
								data: {
									placeholder: "Post Body",
								}
				end
			%>
		</div>

		<div class = "post_information" style = "margin-bottom: 30px;">
			<% if @post.published? %>
				Written <%= timeago_tag @post.published_at, format: "%B %d, %Y" %> by
			<% elsif @post.new_record? %>
				Currently being written by
			<% else %>
				Draft last updated <%= timeago_tag @post.updated_at, format: "%B %d, %Y" %> by
			<% end %>
			<%= @post.author.send(Proclaim.author_name_method) %>
		</div>

		<%= f.hidden_field :title %>
		<%= f.hidden_field :body %>
		<%= f.hidden_field :quill_body %>

		<% if @post.published? and not @post.new_record? %>
			This post has already been published
		<% else %>
			<div class = "field">
				<%= label_tag :publish, "Publish this post" %>
				<%= check_box_tag :publish, "true", @post.published? %>
			</div>
		<% end %>

		<div class="actions" style = "margin-top: 30px;">
			<%= f.submit %>
		</div>
	</div>
<% end %>
