<script type="text/javascript">
	$(document).ready(function()
	{
		<% if @post.new_record? %>
			new Editor($(document).find("form.new_post"),
		              $(document).find("input#post_title"),
		              $(document).find("form.new_post h1.editable"),
		              $(document).find("input#post_body"),
		              $(document).find("form.new_post div.editable"),
		              <%= Proclaim.editor_toolbar_buttons.to_json.html_safe %>);
		<% else %>
			new Editor($(document).find("form.edit_post"),
		              $(document).find("input#post_title"),
		              $(document).find("form.edit_post h1.editable"),
		              $(document).find("input#post_body"),
		              $(document).find("form.edit_post div.editable"),
		              <%= Proclaim.editor_toolbar_buttons.to_json.html_safe %>);
		<% end %>
	});
</script>

<%= form_for(@post) do |f| %>
	<% if @post.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

			<ul>
				<% @post.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class = "post">
		<%=
			fake_form_field @post, :title do
				content_tag :h1, @post.title, class: "post_title editable",
				            data: {
				            	placeholder: "Post Title",
				            	disable_return: "true",
				            	disable_toolbar: "true",
				            }
			end
		%>

		<%=
			fake_form_field @post, :body do
				content_tag :div, @post.body.html_safe, class: "post_body editable",
				            data: {
				            	placeholder: "Post Body",
				            	image_upload_path: cache_image_path,
				            	image_delete_path: discard_image_path,
				            }
			end
		%>

		<div class = "post_information" style = "margin-bottom: 30px;">
			<% if @post.published? %>
				Written <%= timeago_tag @post.published_at, format: "%B %d, %Y" %> by
			<% elsif @post.new_record? %>
				Currently being written by
			<% else %>
				Draft last updated <%= timeago_tag @post.updated_at, format: "%B %d, %Y" %> by
			<% end %>
			<%= @post.author.send(Proclaim.author_name_method) %>
		</div>

		<%= f.hidden_field :title %>
		<%= f.hidden_field :body %>

		<% if @post.published? and not @post.new_record? %>
			This post has already been published
		<% else %>
			<div class = "field">
				<%= label_tag :publish, "Publish this post" %>
				<%= check_box_tag :publish, "true", @post.published? %>
			</div>
		<% end %>

		<div class="actions" style = "margin-top: 30px;">
			<%= f.submit %>
		</div>
	</div>
<% end %>

<div id="foo" style="height: 500px; width: 500px;">
hi
</div>
