<%= link_to 'New Post', new_post_path %>

<% @posts.each do |post| %>
	<h1><%= link_to post.title, post %></h1>
	<div id = "post_<%= post.id %>">
		<% excerpt = post.excerpt %>
		<span class = "excerpt"><%= excerpt %></span>

		<% if excerpt.length < post.body.length %>
			. . . <%= link_to "(more)", post %>
		<% end %>
	</div>
	<div class = "post_information">
		<div style = "float: right;">
			<%= link_to 'Edit', edit_post_path(post) %>
			<%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
		</div>
		<%= post.author.send(Bespoke.author_name_method) %>
	</div>
<% end %>
