<script type="text/javascript">
	$(document).ready(function()
	{
		new CommentForm('div.discussion',
		                'div.comment',
		                'form.comment_form',
		                'button.cancel_comment',
		                'a.reply',
		                'a.edit',
		                'a.delete')
	});
</script>


<h1><%= @post.title %></h1>
<p><em>By <%= @post.author %></em></p>

<div>
	<%= @post.body %>
</div>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>

<h2>Comments</h2>

<div id="comments">
	<%= comments_tree_for @post.comments.hash_tree %>
</div>

<% commentTemplate = @post.comments.build %>
<%= render partial: "bespoke/comments/form",
           locals: {
              comment: commentTemplate,
              target: "#comments",
              main: true
           } %>
