<script type="text/javascript">
	$(document).ready(function()
	{
		new CommentsHandler('div.discussion',
		                    'div.comment',
		                    'form.comment_form',
		                    'form.main_comment_form',
		                    'button.cancel_comment',
		                    'a.reply',
		                    'a.edit',
		                    'a.delete',
		                    'input.subscription_subscribe',
		                    'div.subscription_email')
	});
</script>

<div class = "post">
	<h1 class = "post_title"><%= @post.title %></h1>

	<div class = "post_body show">
		<%= raw @post.body %>
	</div>

	<div class = "post_information">
		<% if @post.published? %>
			Written <%= timeago_tag @post.published_at, format: "%B %d, %Y" %> by
		<% else %>
			Draft last updated <%= timeago_tag @post.updated_at, format: "%B %d, %Y" %> by
		<% end %>
		<%= @post.author.send(Bespoke.author_name_method) %>
	</div>

	<h2>Comments</h2>

	<div id="comments">
		<%= comments_tree_for @post.comments.hash_tree %>
	</div>

	<% commentTemplate = @post.comments.build %>
	<%= render partial: "bespoke/comments/form",
		        locals: {
		           comment: commentTemplate,
		           target: "#comments",
		           main: true
		        } %>
</div>
