<div>
	<h3><%= comment.title %></h3>
	<p><em>By <%= comment.author %></em></p>
	<div>
		<%= comment.body %>
	</div>

	<%= link_to "Reply", class: "reply" %>

	<div class = "reply_form" style = "display: none;">
		<%= render partial: "bespoke/comments/form", locals: {post: comment.post,
		                                                      parent: comment} %>
	</div>
</div>
